/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
  margin:0;
  padding: 0;
}


*{
  /*border: 2px solid black;*/
}

html,body{
  width: 98vw;
  height: 98vh;
}

body{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hidden{
  display: none!important;
}

.searchSection{
  width: 90%;
  height: inherit;
  display: grid;
  grid-gap: .5em;
  grid-template-columns: 100%;
  grid-template-rows: 3fr 1fr 12fr;
  grid-template-areas: 
    "userTeam"
    "searchInput"
    "searchResultsContainer";
}


.userTeam{
  grid-area: userTeam;
  width: 100%;
}

input#search{
  grid-area: searchInput;
  width: 100%;
}

.searchResultsContainer{
  position: relative;
  grid-area: searchResultsContainer;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


.searchResults{
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.playerItem{
  width: 100%;
  display: grid;
  align-items: stretch;
  justify-content: space-between;
  grid-template-columns: 1fr 7fr 3fr 1fr;
  grid-template-rows: 1fr;
}

.playerItem.title{
  background-color: lawngreen;
}
