/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
  margin:0;
  padding: 0;
}


*{
  /*border: 2px solid black;*/
}

html,body{
  width: 99vw;
  height: 99vh;
}

html body{
  background-color: rgb(167, 167, 167)!important;
  padding: 1em;
  height: inherit;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-gap: .5em;
  grid-template-columns: 100%;
  grid-template-rows: 3fr 1fr 3fr;
  grid-template-areas: 
    "userTeam"
    "searchSection"
    "rek";
}

.hidden{
  display: none!important;
}

/*USER TEAM*/
.userTeam{
  grid-area: userTeam;
  width: 100%;
}

.userTeam .header{
  display: flex;
}
.positionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.positionContainer .players{
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-end;
  justify-content: center;
}

.positionContainer .player{
  min-width: 60vw;
  margin: .1em!important;
  display: flex!important;
  align-items: stretch;
  justify-content: center;
}

.positionContainer .player .name{
flex-grow: 1;
}

.positionContainer h2.name{
  /*writing-mode: vertical-rl;
  transform: rotate(180deg);*/
}

.positionContainer .player .team{
  display: inline-flex;
  justify-content: center;
  background-color: rgba(51, 50, 50, 0.335);
  width: 3em;
  margin: -.25em;
  margin-right: .5em;
  padding: .25em;

  text-transform: uppercase;
}


.positionContainer .player .teamPlayerOperations{
  display: inline-flex;
  justify-content: center;
  background-color: rgba(51, 50, 50, 0.335);
  opacity: 1!important;
  margin-left: 1em!important;
}


/*Colors*/
.userTeam .positionContainer.k{
  background-color: #b5f2c3;
  color: #21ba45;
}

.userTeam a.player.k, .modal .header .label.k{
  background-color: #21ba45;
}

.userTeam .positionContainer.d{
  background-color: #b5d8f3;
  color: #2185d0;
}

.userTeam a.player.d, .modal .header .label.d{
  background-color: #2185d0;
}

.userTeam .positionContainer.os{
  background-color: #cbbbed;
  color: #6435c9;
}

.userTeam a.player.os, .modal .header .label.os{
  background-color: #6435c9;
}

.userTeam .positionContainer.f{
  background-color: #e7cfc1;
  color: #a5673f;
}

.userTeam a.player.f, .modal .header .label.f{
  background-color: #a5673f;
}

.userTeam .positionContainer.y{
  background-color: #d4d4d4;
}

.positionContainer .player.empty{
  opacity: .6;
}



.modal.ui .header{
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}


/*Modal*/

.menu.team .colors, .positionContainer .player .colors{
  display: inline-flex;
  border:2px solid gray;
  margin-right: .4em;
}

.menu.team .colors *, .positionContainer .player .colors *{
  width: 12px;
  height: 12px;
  display: inline-block;
}

.menu.players [selected=""]{
  background-color: rgba(174, 185, 174, 0.685)!important;
  color:grey!important;
}



/*SEARCH RESULTS
.searchSection{
  grid-area: searchSection;
  width: 90%;
  display: grid;
  grid-gap: .5em;
  grid-template-columns: 100%;
  grid-template-rows: 3fr 1fr 3fr;
  grid-template-areas: 
    "userTeam"
    "filterOperations"
    "searchResultsContainer";
}




.filterOperations{
  grid-area: filterOperations;
  display: grid;
  grid-gap: .5em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr; 
  grid-template-areas: 
  ". searchInput searchInput ."
  "teamInput teamInput teamInput positionInput";
}

.filterOperations div.search{
  grid-area:searchInput;
  
}

.filterOperations div.team{
  grid-area: teamInput;
}

.filterOperations div.position{
grid-area: positionInput;
}

.searchResultsContainer{
  position: relative;
  grid-area: searchResultsContainer;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 2em;
}


.searchResults{
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: .5em;
}

.playerItem, .playerItemTitle{
  width: 100%;
  height: 2.5em;
  display: grid;
  align-items: center;
  align-content: center;
  grid-template-columns: 1fr 7fr 3fr 1fr;
  grid-template-rows: 1fr;
  margin:.1em;
  padding:.3em;
background-color:#E0E5EC;
}

.playerItem:hover{
  background-color: lightblue;
}

.playerItem[selected]{
  background-color: rgb(2, 255, 234);
}

.playerItem[selected]:hover{
  background-color: rgb(124, 255, 244);
}

.playerItem, .playerItem *{
  cursor: pointer;
}

.playerItem span.name{
font-size: 1.2em;
  font-weight: 800;
}

.playerItemTitle{
  padding-right: .5em;
  padding-left: .5em;
  font-weight: 800;
  background-color: lawngreen;

}
*/
.infoBar{
  text-align: center;
  font-size: 2em;
  width: 50%;
  position: absolute;
  margin-left: auto!important;
  margin-right: auto!important;
  left: 0;
  right: 0;
  bottom: 1em;
}

.neu{
  box-shadow: 6px 6px 16px rgb(163,177,198,0.8), -6px -6px 16px  rgba(255,255,255, 0.8);
}

.rek{
  grid-area: rek;
  background-color: cadetblue;
}

/*Animations*/
.infoBar.shake{
  animation: shake 500;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}